<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
      <title>{{ site.name }} - {{ site.description }}</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta http-equiv="content-language" content="en-gb" />
      <meta name="description" content="{{ site.description }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% comment %} <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700|Lora:400,700,400italic" rel="stylesheet" type="text/css"> {% endcomment %}
      {% comment %} original kimeiga fonts <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet"> {% endcomment %}
      {% comment %} <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet"> {% endcomment %}
      <link href="https://fonts.googleapis.com/css?family=Exo+2:400,400i,700|Old+Standard+TT:400,700&amp;subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl| split: '/' | join:'/' }}/css/main.css" />
      <link href="atom.xml" type="application/atom+xml" rel="alternate" title="Site ATOM Feed">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

      {% comment %} favicons {% endcomment %}
      {% comment %} <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "images/favicons/apple-touch-icon-57x57.png" | relative_url }}" />
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "images/favicons/apple-touch-icon-114x114.png" | relative_url }}" />
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "images/favicons/apple-touch-icon-72x72.png" | relative_url }}" />
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "images/favicons/apple-touch-icon-144x144.png" | relative_url }}" />
      <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ "images/favicons/apple-touch-icon-60x60.png" | relative_url }}" />
      <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "images/favicons/apple-touch-icon-120x120.png" | relative_url }}" />
      <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ "images/favicons/apple-touch-icon-76x76.png" | relative_url }}" />
      <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "images/favicons/apple-touch-icon-152x152.png" | relative_url }}" />
      <link rel="icon" type="image/png" href="{{ "images/favicons/favicon-196x196.png" | relative_url }}" sizes="196x196" />
      <link rel="icon" type="image/png" href="{{ "images/favicons/favicon-96x96.png" | relative_url }}" sizes="96x96" />
      <link rel="icon" type="image/png" href="{{ "images/favicons/favicon-32x32.png" | relative_url }}" sizes="32x32" />
      <link rel="icon" type="image/png" href="{{ "images/favicons/favicon-16x16.png" | relative_url }}" sizes="16x16" />
      <link rel="icon" type="image/png" href="{{ "images/favicons/favicon-128.png" | relative_url }}" sizes="128x128" />
      <meta name="application-name" content="Life of Kimeiga"/>
      <meta name="msapplication-TileColor" content="#F1C33A" />
      <meta name="msapplication-TileImage" content="{{ "images/favicons/mstile-144x144.png" | relative_url }}" />
      <meta name="msapplication-square70x70logo" content="{{ "images/favicons/mstile-70x70.png" | relative_url }}" />
      <meta name="msapplication-square150x150logo" content="{{ "images/favicons/mstile-150x150.png" | relative_url }}" />
      <meta name="msapplication-wide310x150logo" content="{{ "images/favicons/mstile-310x150.png" | relative_url }}" />
      <meta name="msapplication-square310x310logo" content="{{ "images/favicons/mstile-310x310.png" | relative_url }}" /> {% endcomment %}

      {% comment %} pwa manifest {% endcomment %}
      {% comment %} <link rel="manifest" href="{{ "manifest.json" | relative_url }}"></link>
      <script src="{{ "manup.min.js" | relative_url }}"></script> {% endcomment %}

      <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relative_url }}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relative_url }}">
      <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relative_url }}">
      <link rel="manifest" href="{{ "/site.webmanifest" | relative_url }}">
      <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | relative_url }}" color="#f1c33a">
      <meta name="msapplication-TileColor" content="#ffc40d">
      <meta name="theme-color" content="#f1c33a">

      <script type="text/javascript" src="{{ "/pwabuilder-sw-register.js" | relative_url }}"></script>
  </head>

  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div class="off-canvas">
      <figure class="avatar">
        <img src="{{ "/images/avatar.jpg" | relative_url }}" alt="Hakan Alpay" title="That's me, {{ site.author }}.">
      </figure>
      <div class="bio">
          <h1>Hi, I'm {{ site.author }}.</h1>
          <p>{{ site.author-bio }}</p>
      </div>
      <nav>
        <h6>Contact?</h6>
        <ul>
          {% if site.portfolio %}
          <li><a target="_blank" href="https://{{ site.portfolio }}">Portfolio</a></li>
          {% endif %}
          {% if site.email %}
          <li><a href="mailto:{{ site.email }}?Subject=Wassup%20Kimeiga" target="_top">Email</a></li>
          {% endif %}
          {% if site.twitter %}
          <li><a target="_blank" href="https://twitter.com/{{ site.twitter }}">Twitter</a></li>
          {% endif %}
          {% if site.github %}
          <li><a target="_blank" href="https://github.com/{{ site.github }}">Github</a></li>
          {% endif %}
          {% if site.dribbble %}
          <li><a target="_blank" href="https://dribbble.com/{{ site.dribbble }}">Dribbble</a></li>
          {% endif %}
          {% if site.instagram %}
          <li><a target="_blank" href="https://instagram.com/{{ site.instagram }}">Instagram</a></li>
          
          {% endif %}
        </ul>
      </nav>
    </div>


    <div class="site-wrapper">

      <header>
        <div class="h-wrap">
          <h1 class="title"><a href="{{ site.baseurl | split:'/' | join:'/' | append:'/'  }}" title="Back to Homepage">{{ site.name }}</a></h1>
          <a class="menu-icon" title="Open Bio"><span class="lines"></span></a>
        </div>
      </header>

      <main>
        {{ content }}
      </main>

      <footer>
        <small><a href="https://github.com/Kimeiga/blog">We keep it open source</a> - &copy; {{ site.author }}</small>
      </footer>

    </div>
    {% comment %} site-wrapper {% endcomment %}

    <script src="{{ site.baseurl }}/js/main.js"></script>
    {% comment %} Google Analytics {% endcomment %}
    {% comment %} {% if site.ga_tracking_id and site.ga_domain %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.ga_tracking_id }}', '{{ site.ga_domain }}');
        ga('send', 'pageview');
      </script>
    {% endif %} {% endcomment %}

    <script id="dsq-count-scr" src="//life-of-kimeiga.disqus.com/count.js" async></script>
  </body>
</html>
